@charset "ISO-8859-1";
textarea {
    height:150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 0.5px solid #ccc;
     resize: none;
}
        .wide-card.mdl-card {
            width: 512px;
            margin-top:10px
         }
      
         .square-card.mdl-card {
            width: 256px;
            height: 256px;
         }

       

         .event-card.mdl-card {
            width: 256px;
            height: 256px;
            background: #3E4EB8;
         }
      
         .event-card.mdl-card__title {
            color: #fff;
            height: 176px;
         }

         .event-card > .mdl-card__actions {
            border-color: rgba(255, 255, 255, 0.2);
            display: flex;
            box-sizing:border-box;
            align-items: center;
            color: #fff;
         }     
         textarea {
    
   height:150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 0.5px solid #ccc;
     resize: none;
}
#post
{ 
background-color:#0288d1;
color:#ffff
}
.mdl-button--file input {
  cursor: pointer;
  height: 100%;
  right: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 300px;
  z-index: 4;
}
.mdl-textfield--file .mdl-textfield__input {
  box-sizing: border-box;
  width: calc(100% - 32px);
}
.mdl-textfield--file .mdl-button--file {
  right: 0;
}
#myProgress {
      width: 100%;
      background-color: #ddd;
      text-align: left;
    }
    #myBar {
      width: 0%;
      height: 30px;
      background-color: #4CAF50;
      text-align: center;
      line-height: 30px;
      color: white;
    }