@charset "ISO-8859-1";

#sendmag {
position:relative;
    width: 80%;
    padding: 12px 20px;
    margin-left: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    top:0px
  
}
#sendbtn {
   position:relative;
    background-color: #0288d1;
    color: white;
    padding: 10px 10px;
    margin: 10px 0;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    left:20px;
    top:5px;
}
.demo{

background-position: center;
background-size: cover;
width: 50px;
height: 50px;
border-radius: 50px;
margin-left: 50px"
}
#style-1
{
overflow-y:auto;
display: flex;
flex-direction: column-reverse;

}
#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #FAFAFA;
}

#style-1::-webkit-scrollbar
{
	width: 7px;
	background-color: #FAFAFA;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #9E9E9E;
}
#sid
{
position:relative;right:10;
    text-align: justify; 
    -moz-text-align-last: right; 
    text-align-last: right;
}
#rid
{
    text-align: justify;
    -moz-text-align-last: justify;
    text-align-last: justify;
    
}
.send
{
	position:relative;right:20px;
background-color:white;display:inline;
border-top-right-radius:15px;
border-bottom-left-radius:15px;
border-top-left-radius:15px;
box-shadow:  1px 1px 5px #888888;
padding: 8px 8px 8px 8px ;

}
.rec
{
position:relative;color:#ffff;background-color:#0288d1;display:inline;left:20px;
border-top-right-radius:15px;
border-bottom-right-radius:15px;
border-top-left-radius:15px;
box-shadow:  1px 1px 5px #888888;
padding: 8px 8px 8px 8px ;

}

.android-drawer-separator {
height: 1px;
background-color: #dcdcdc;
margin: 10px 0;
}
#msgContain
{
	position:fixed;margin-top:62px;top:0;right:0;width:18.7%;height:100%;border-width:1.5px;border-color:#dcdcdc;border-style:solid;overflow-y:auto;
}
.anchor
{    
    padding:10px;
	font-size:15px";
    
    width:100%;
}
.anchor:hover
{
     color:#9E9E9E;
     background-color:#EEEEEE; 
     text-decoration:none; 
     cursor:pointer;  
}
