@charset "ISO-8859-1";

        .wide-card.mdl-card {
           
            margin-top:10px
         }
      
         .square-card.mdl-card {
           
         }

       

         .event-card.mdl-card {
           
            background: #3E4EB8;
         }
      
         .event-card.mdl-card__title {
            color: #fff;
            
         }

         .event-card > .mdl-card__actions {
            border-color: rgba(255, 255, 255, 0.2);
            display: flex;
            box-sizing:border-box;
            align-items: center;
            color: #fff;
         }     
         textarea {
    
   height:150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 0.5px solid #ccc;
     resize: none;
}
#post
{ 
background-color:#0288d1;
color:#ffff
}

.mdl-button--file input {
  cursor: pointer;
  height: 100%;
  right: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 300px;
  z-index: 4;
}
.mdl-textfield--file .mdl-textfield__input {
  box-sizing: border-box;
  width: calc(100% - 32px);
}
.mdl-textfield--file .mdl-button--file {
  right: 0;
}
#myProgress {
      width: 100%;
      background-color: #ddd;
      text-align: left;
    }
    #myBar {
      width: 0%;
      height: 30px;
      background-color: #4CAF50;
      text-align: center;
      line-height: 30px;
      color: white;
    }
    .demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 400px;
  
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
.demo{

background-position: center;
background-size: cover;
width: 50px;
height: 50px;
border-radius: 50px;
margin-left: 50px"
}
.anchor
{    color:#9E9E9E;
    display:inline-block;
	font-size:"5px";
     height:100%;
    width:100%;
}
.link_class:hover
{
     color:#9E9E9E;
     background-color:#EEEEEE; 
     text-decoration:none; 
     cursor:pointer;  
}
.button_class {
   
    
    color:#424242;
  
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.link_class {
color:#424242;
padding:5px;
    display:inline-block;
width: 100%;
    
}
.black
{
	color:black;
}
.blue
{
	color:#2196F3;
}