#loginspinner{
    display:none;
}
#signupspinner{
    display:none;
}
/*#logo
{ 
     background-color: white;
    width: 8%;
    height:10%;
    margin-left: 20%;
    margin-top:5px;
    font-size: 40px;
    align-content: center"
}*/